*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;    
}
body{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;   
    justify-content: center;

}
#main{
    background-color: white;
    border:2px solid black;
    height: 450px;
    width:300px;
    text-align: center;
}
#main img{
    height: 60%;
    width: 100%;
    object-fit: fill;
}
h2{
font-size: 30px;
font-weight: 600;
}
h3{
    color: red;
    font-size: 30px;
    font-weight: 600;
}
button{
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    color: black;
    border: none;
    background-color: lightseagreen;
    border-radius: 10px;
}